html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 1px;
}

header {
  background: #65afff;
  padding: 30px;
  color: white;
}

.box {
  background: #346dff;
  padding: 20px;
}

header > .box {
  padding: 15px 25px;
}

.box > span {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
}

.box > h1 {
  font-weight: normal;
  font-weight: 300;
  color: white;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.box > h1.title {
  font-size: 3em;
  margin: 0;
}

section {
  padding: 30px;
}

.fluid {
  max-width: 65em;
  margin: 0 auto;
}

section > h1 {
  display: inline-block;
  background: #346dff;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.fbox {
  flex: 1;
  width: 50%;
}

.side-img {
  margin-right: 60px;
}

.side-img > img {
  width: 100%;
  border: 10px solid #346dff;
  box-shadow: 15px 15px #65afff;
  vertical-align: middle;
}

.box > p {
  color: white;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.box > h3 {
  display: inline-block;
  font-size: 1em;
  color: #346dff;
  padding: 5px 10px;
  background: white;
  font-weight: bold;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.used-techno {
  margin-top: 30px;
}

.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  background: white;
  border: 5px solid white;
  box-shadow: 5px 5px #65afff;
}

.background-cnt {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.spacer {
  margin-bottom: 80px;
}

.techno {
  width: calc(20% - 40px);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #65afff;
}

.techno {
  transition: box-shadow 0.5s ease-out;
}

.techno-enter {
  box-shadow: 10px 10px 0 #346dff;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.techno:hover {
  transform: translate(-5px, -5px);
  box-shadow: 20px 20px 0 #346dff;
}

.techno > img {
  width: 100%;
  margin-bottom: 20px;
}

.techno > p {
  letter-spacing: normal;
  color: #346dff;
  font-weight: bold;
  text-align: center;
}

footer {
  background: #346dff;
  box-shadow: 0 -20px 0 #65afff;
  color: white;
  padding: 20px;
  letter-spacing: normal;
}

@media (max-width: 60em) {
  .techno {
    width: calc(33% - 40px);
  }
}

@media (max-width: 40em) {
  .fbox {
    flex: auto;
    width: 100%;
    margin-bottom: 40px;
  }

  .techno {
    width: calc(50% - 30px);
    margin: 15px;
    padding: 10px;
  }

  .techno > p {
    font-size: 0.8em;
  }

  .side-img {
    margin-right: 0;
  }
}
